@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
	font-family: 'Poppins', sans-serif;
}
header a{
	color: #d13232;
}header a:hover{
	color: #ff5656;
}
a:hover{
	text-decoration: none;
}
nav{
	text-transform: uppercase;
	font-weight: 500 !important;
}
nav .active a{
	color: red !important;
}
nav a:hover{
	color: red !important;
}
h2{
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	font-size: 42px;
	text-transform: uppercase;
}
h3{
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	font-size: 32px;
	text-transform: uppercase;
}
p{
	line-height: 28px;
}

.sliderHead h1, h4{
	text-transform: uppercase;
	font-family: 'Amiri', serif;
	color: #fff;
}
.sliderHead h1{
	font-family: 'Roboto', sans-serif;
}

.item1{
	background-image: url('../images/home_1_slider_1.jpg');
	background-size: cover;
	max-height: 600px !important;
	}.item2{
		background-image: url('../images/home_1_slider_2.jpg');
		background-size: cover;
		max-height: 600px !important;
	}
	.pad{
		padding: 200px 0;
	}
	hr.sec{
		border-top: 2px solid red;
		width: 58%;
	}
	a button{
		color: #fff;
		font-weight: 500;
		text-transform: uppercase;
	}
	a:hover button{
		color: #fff;
		text-decoration: none;
	}
	.btn-secondary{
		background-color: #4E4E4E;
	}
	.playBtn {
		border-radius: 50% !important;
		opacity: .5;
		position: relative;
		top: -50%;
		left: 45%;
		z-index: 100;
		background-color: transparent;
		border-color: transparent;
		color: black;
		font-size: 55px;
		padding: 0 !important;
		margin: 0 !important;
	}
	.playBtn:hover{
		color: #000;
		opacity: 1;
		background-color: transparent;
		border-color: transparent;
	}
	.modal-content{
		margin: auto !important;
	}
	hr.title{
		border-top: 3px solid red;
		width: 15%;
	}
	.lightRed{
		background-color: #efdada;
	}
	.donation .col-1,.services .col-1, .campaigns .col-1{
		color: red;
		font-size: 25px;
	}
	.ab{
		position: relative;
		overflow: hidden;
		float: left;
	}

	/**********************************************/
	/***************  Form Section   **************/
	/**********************************************/
	.bg-form{
		background-color: rgba(293,9,23,.5);
	}
	.bg-form h1{
		font-family: 'Dosis', sans-serif;
		text-transform: uppercase;
	}
	.searchBlood form hr{
		border-top: 1px solid #fff;
	}
	.searchResult {
		text-transform: capitalize;
		font-size: 16px;
	}
	.titleResult{
		font-family: 'Dosis', sans-serif;
		color: #fff;
		font-weight: 600;
	}
	#bloodGr{
		color:red;
		font-size: 18px;
	}
	#location{
		text-transform: capitalize;
	}
	#donationDate{
		font-size: 13px;
		text-transform: capitalize;
	}
	.res-title{
		font-weight: 700;
	}
	.callNow a i{
		font-size: 40px;
		color: #54EB4C;
	}
	.callNow a:hover i{
		color: #54EB4C;
		text-decoration: none;
	}
	.darkRed{
		background-color: #f90000a1;
	}

	h5{
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
		font-weight: 500;
		text-transform: uppercase;
	}
	.icon{
		font-size: 50px;
		margin: auto !important;
		text-align: center !important;
		margin-top: 10px;
		transition: .75s;
	}
	.col-3:hover .icon{
		color: red;
		margin-top:0px;
	}
	.awards p{
		font-size: 32px;
		color: red;
	}
	.eventTime{
		font-size: 13px;
	}

	.name{
		font-size: 25px;
		color: red;
	}
	/**********************************************/
	/*************** Join us Section **************/
	/**********************************************/
	.joinUS{
		background: rgb(205,36,73);
		background: linear-gradient(90deg, rgba(255,0,0,0.58) 0%, rgba(250,162,162,0.67) 32%, rgba(255,209,209,0.79) 52%, rgba(250,154,154,0.67) 70%, rgba(255,0,0,0.58) 100%), url("../images/testimony_feat_bg.jpg");
		background-size: cover;
		backgroulightnd-repeat: no-repeat;
	}
	.l-btn{
		min-width: 200px;
	}






	/**********************************************/
	/*************** Service Section **************/
	/**********************************************/
	.services .icon{
		color: red;
		opacity: .7;
	}
	.services h3{
		color: red;
		font-size: 25px;
		font-weight: 700;
		text-transform: capitalize;
	}
	.services .serv .col:hover{
		border: 1px solid red;
		box-sizing: border-box;
		box-shadow: 2px 2px 6px 2px #f7c3c0;
		background-color: #f3e8e8;
	}
	.services .serv .col{
		border: 1px solid transparent;
		box-sizing: border-box;
		box-shadow: 2px 2px 6px 2px transparent;
	}
	/**********************************************/
	/*************** Footer Section ***************/
	/**********************************************/
	.foot hr{
		border-top: 2px solid #EF3D32;
	}

	.foot{
		background-color: #1A1A1A;
	}
	.foot h1{
		font-size: 30px;
		text-transform: uppercase;
	}
	.navLogo{
		width: 80px;
		height: 80px;
	}
	.logo{
		width: 100px;
		height: 100px;
	}
	ul {
		list-style-type: none;
		padding-left:10px; 
	}
	.foot a{
		color: white;
	}
	.foot a:hover{
		color: white;
	}

	/************************/
	.dropdown:hover .dropdown-menu{
		display: block;
	}
	.dropdown-menu{
		margin-top: 0;
	}
	.credit{
		color: #7b7878;
	}
	.credit a{
		color: #7b7878;
	}
	.credit a:hover{
		color: #7b7878;
		text-decoration: underline;
	}

/************************/
/***RULES***/
/************************/
.headRules{
	/*min-height: 200px;*/
	background: linear-gradient(90deg, rgba(255,0,0,0.58) 0%, rgba(250,162,162,0.67) 32%, rgba(255,209,209,0.79) 52%, rgba(250,154,154,0.67) 70%, rgba(255,0,0,0.58) 100%), url("../images/rules1.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

/************************/
/***login***/
/************************/
.headprofile{
	/*min-height: 200px;*/
	background: linear-gradient(90deg, rgba(255,0,0,0.58) 0%, rgba(250,162,162,0.67) 32%, rgba(255,209,209,0.79) 52%, rgba(250,154,154,0.67) 70%, rgba(255,0,0,0.58) 100%), url("../images/profile.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
}

/************************/
/***Search.html***/
/************************/
td a{
	font-size: 28px;
	color: #17D721;
	padding: 0;
	margin: 0;
}
td a:hover{
	color: #139319;
}
tr:nth-child(2n-1) {
  /*background-color: red;*/
}


/**/
/*Ambulance*/
/**/
.headAmbulance{
	/*min-height: 200px;*/
	background: linear-gradient(90deg, rgba(255,0,0,0.58) 0%, rgba(250,162,162,0.67) 32%, rgba(255,209,209,0.79) 52%, rgba(250,154,154,0.67) 70%, rgba(255,0,0,0.58) 100%), url("../images/untitled-1.png");
}
.contactAmbulance h1{
	text-transform: uppercase;
	font-size: 55px;
}
.contactAmbulance h4{
	color: black;
	text-transform: capitalize;
}
.contactAmbulance hr.title{
	width: 100px;
}
.contactAmbulance .driver{
	border: 1px solid red;
	overflow: hidden;
}
.contactAmbulance .sec-title{
	overflow: hidden;
}

/*************************/
/*************************/
/*************************/
.headDoctor{
	/*min-height: 200px;*/
	background: linear-gradient(90deg, rgba(255,0,0,0.58) 0%, rgba(250,162,162,0.67) 32%, rgba(255,209,209,0.79) 52%, rgba(250,154,154,0.67) 70%, rgba(255,0,0,0.58) 100%), url("../images/Health.png");
	background-size: cover;
	background-position: center;
}
.doctors button{
	font-family: Roboto;
	font-size: 20px;
	text-transform: capitalize;
}
.doctors h1{
	text-transform: uppercase;
	font-size: 55px;
}
.doctors h4{
	color: black;
	text-transform: capitalize;
}
.doctors h3{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
}

.doctors h5{
	text-transform: capitalize;
	color: #6b6060;
	font-weight: 400;
	font-size: 18px;
}
.doctors p{
	font-size: 13px;
	font-weight: 500;
}

.doctors hr.title{
	width: 100px;
}

/**/
/*team.html*/
/**/
.headteam{
	/*min-height: 200px;*/
	background: linear-gradient(90deg, rgba(255,0,0,0.58) 0%, rgba(250,162,162,0.67) 32%, rgba(255,209,209,0.79) 52%, rgba(250,154,154,0.67) 70%, rgba(255,0,0,0.58) 100%), url("../images/header-bg.jpg");
	background-size: cover;
	background-position: center;
}
.headteam h1{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 55px;
}
.headteam h4{
	font-family: 'Montserrat', sans-serif;
	color: black;
	/*font-size: 18px;*/
}
.team h4{

	text-transform: capitalize;
	font-weight: 600;
	color: #8D8D8D;
}
.team hr.title{
	width: 100px;
}
.member{
	border: 1px solid #efdada;
}

/**/
/*newList,clinic*/
/**/
.headHospitals{
	/*min-height: 200px;*/
	background: linear-gradient(90deg, rgba(255,0,0,0.58) 0%, rgba(250,162,162,0.67) 32%, rgba(255,209,209,0.79) 52%, rgba(250,154,154,0.67) 70%, rgba(255,0,0,0.58) 100%), url("../images/Health.png");
	background-size: cover;
	background-position: center;
}
.headHospitals h1{
	text-transform: uppercase;
	font-size: 55px;
}
.headHospitals h4{
	color: black;
	text-transform: capitalize;
}
.headHospitals hr.title{
	width: 100px;
}